page-login {
    
    
    #ButtonsLogin{
        margin: 0 auto;
        margin-top: 60px;
        width: 90%;
    }
    #botaoEntrar{
        background-color: rgb(23, 173, 3);
    }
    #botaoGoogle{
        background-color: rgb(236, 19, 19);
    }
    #login{
        background-image: url(https://i.imgur.com/MBImbdP.png);
        background-size: cover;
        margin-top: 20px;
    }
    #infoLogin{
        margin-top: 160px;
    }
    
}
