page-home {
#home{
    background-image: url("https://i.imgur.com/OEshZGe.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
}
#localizacaoBairroCidade{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
    
}
#iconeLocalizacao{
    position: absolute;
    margin-top: -36px; 
    margin-left: 10px;
}
#barbearia{
    padding-top: 10px;
    padding-right: 15px;
}
}