page-home {
#home{
    background-color: rgb(168, 165, 153); 
}
#localizacaoBairroCidade{
    display: flex;
    align-items: center;
    justify-content: center
}
#iconeLocalizacao{
    position: absolute;
    margin-top: -36px; 
    margin-left: 10px;
}
}