page-agendamento {
    #agendamento{
        background-image: url("https://i.imgur.com/ODC48YM.png");
        background-size:     cover;                     
        background-repeat:   no-repeat;
        background-position: center center;
        }
    #divAgendamento{
        margin-top: 70px;
    }
    #divButton{
        margin-top: 40px;
    }
}
